@page
@model Aperitif.Pages.Admin.Categorias.DeleteModel

<form method="post">
    <input hidden asp-for="Categoria.Id"/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Remover Categoria</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            Nome:
            <input asp-for="@Model.Categoria.Nome" disabled class="form-control"/>
            <!--span asp-validation-for="Categoria.Nome" class="text-danger">O nome é obrigatório</span!-->
        </div>
        <div class="mb-3">
            Display Order
            <input asp-for="@Model.Categoria.DisplayOrder" disabled class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Remover</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Voltar a Lista</a>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}